/.BinaryComputingIteratorTest.java._trace
/.CardDeckTest.java._trace
/.CardHandTest.java._trace
/.NamedComparatorTest.java._trace
/.StringGridTest.java._trace
/.CardComparatorTest.java._trace
/.StringMergingIteratorTest.java._trace
/.CardContainerIteratorTest.java._trace
/.Person2Test.java._trace
/.Person1Test.java._trace
/BinaryComputingIteratorTest.java
/CardComparatorTest.java
/CardContainerIteratorTest.java
/CardDeckTest.java
/CardHandTest.java
/NamedComparatorTest.java
/Person1Test.java
/Person2Test.java
/StringGridTest.java
/StringMergingIteratorTest.java
